@import "tailwindcss";

@font-face {
  font-family: "SeasonSans Bold";
  src: url("/fonts/SeasonSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SeasonSans Semi";
  src: url("/fonts/SeasonSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SeasonSans Medium";
  src: url("/fonts/SeasonSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

body {
  background: theme(--color-mono-0);
  color: theme(--color-mono-100);
  font-family: "SeasonSans Medium", Arial, Helvetica, sans-serif;
}

@theme inline {
  --font-bold: "SeasonSans Bold";
  --font-semi: "SeasonSans Semi";
  --font-medium: "SeasonSans Medium";

  /* Remove Tailwind defaults */
  --color-*: initial;

  --color-ecru: #ede8ddff;
  --color-oak: #9c602aff;
  --color-clay: #8b3b06ff;
  --color-marmalade: #ff6512ff;
  --color-turmeric: #d9c554ff;
  --color-lavender: #d0cfffff;
  --color-mono-0: #ffffffff;
  --color-mono-10: #f0f0f0ff;
  --color-mono-20: #dddee2ff;
  --color-mono-30: #c7c7c7ff;
  --color-mono-40: #a3a3a3ff;
  --color-mono-50: #787878ff;
  --color-mono-60: #595959ff;
  --color-mono-70: #4a4a4aff;
  --color-mono-80: #383838ff;
  --color-mono-90: #1e1e1eff;
  --color-mono-100: #000000ff;
  --color-ui-red: #ff3737ff;
  --color-ui-light-red: #ff4b4bff;
  --color-ui-pink: #ffb9b9ff;
  --color-ui-green: #21f885ff;
  --color-ui-light-green: #adffffff;
  --color-mahogany-10: #39201b1a;
  --color-ecru-10: #ede8dd1a;
  --color-olive: #686727ff;
  --color-mahogany: #39201bff;
  --color-ecru-90: #ede8dde5;
  --color-mahogany-90: #39201be5;
  --color-white-25: #ffffff40;
  --color-mahogany-25: #39201b40;
}

/* Typography */
@utility t-d1 {
  @apply text-[72px] leading-[100%] font-bold tracking-[-0.02em] md:text-[96px] md:leading-[100%] md:tracking-[-0.02em] lg:text-[128px] lg:leading-[100%] lg:tracking-[-0.02em];
}

@utility t-h1 {
  @apply text-[60px] leading-[100%] font-bold tracking-[-0.02em] md:text-[72px] md:leading-[100%] md:tracking-[-0.02em] lg:text-[96px] lg:leading-[100%] lg:tracking-[-0.02em];
}

@utility t-h2 {
  @apply text-[48px] leading-[100%] font-bold tracking-[-0.01em] md:text-[72px] md:leading-[100%] md:tracking-[-0.01em] lg:text-[60px] lg:leading-[100%] lg:tracking-[-0.01em];
}

@utility t-h3 {
  @apply text-[36px] leading-[110%] font-bold tracking-[-0.01em] md:text-[48px] md:leading-[110%] md:tracking-[-0.01em] lg:text-[48px] lg:leading-[110%] lg:tracking-[-0.01em];
}

@utility t-h4 {
  @apply text-[30px] leading-[115%] font-bold tracking-[-0.01em] md:text-[36px] md:leading-[115%] md:tracking-[-0.01em] lg:text-[36px] lg:leading-[115%] lg:tracking-[-0.01em];
}

@utility t-h5 {
  @apply text-[20px] leading-[120%] font-bold tracking-[0em] md:text-[20px] md:leading-[120%] md:tracking-[0em] lg:text-[20px] lg:leading-[120%] lg:tracking-[0em];
}

@utility t-b1 {
  @apply text-[20px] leading-[135%] font-medium tracking-[0em] md:text-[20px] md:leading-[135%] md:tracking-[0em] lg:text-[20px] lg:leading-[135%] lg:tracking-[0em];
}

@utility t-b2 {
  @apply text-[16px] leading-[135%] font-medium tracking-[0em] md:text-[16px] md:leading-[135%] md:tracking-[0em] lg:text-[16px] lg:leading-[135%] lg:tracking-[0em];
}

@utility t-b3 {
  @apply text-[14px] leading-[140%] font-medium tracking-[0.01em] md:text-[14px] md:leading-[140%] md:tracking-[0.01em] lg:text-[14px] lg:leading-[140%] lg:tracking-[0.01em];
}

@utility t-button {
  @apply text-[16px] leading-[90%] font-bold tracking-[0em] md:text-[16px] md:leading-[90%] md:tracking-[0em] lg:text-[16px] lg:leading-[90%] lg:tracking-[0em];
}

@utility t-label {
  @apply text-[16px] leading-[120%] font-bold tracking-[0.01em] md:text-[16px] md:leading-[120%] md:tracking-[0.01em] lg:text-[16px] lg:leading-[120%] lg:tracking-[0.01em];
}

@utility t-tag {
  @apply text-[14px] leading-[120%] font-bold tracking-[0.01em] md:text-[14px] md:leading-[120%] md:tracking-[0.01em] lg:text-[14px] lg:leading-[120%] lg:tracking-[0.01em];
}

@utility t-tag2 {
  @apply text-[14px] leading-[120%] font-medium tracking-[0.01em] md:text-[14px] md:leading-[120%] md:tracking-[0.01em] lg:text-[14px] lg:leading-[120%] lg:tracking-[0.01em];
}

@utility t-caption1 {
  @apply text-[14px] leading-[120%] font-semibold tracking-[0.01em] md:text-[14px] md:leading-[120%] md:tracking-[0.01em] lg:text-[14px] lg:leading-[120%] lg:tracking-[0.01em];
}

@utility t-caption2 {
  @apply text-[12px] leading-[120%] font-medium tracking-[0.01em];
}

/* A11y */
@utility ring-focus-visible {
  box-shadow:
    0px 0px 0px 2px white,
    0px 0px 0px 4px black;
}
